/* CSS for Footer.js  */

/* Contrast selected and non-selected navigation items.  */

/* Space the navigation items across the page.  */
.footer_container {
  height: 75px;
  background: lightcyan;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}