/* CSS for Portfolio.js */

.portfolio_container {
  background: lightcyan;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 20px;
}

.item_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  padding: 10px;
  border: 10px solid green;
  margin: 10px;
}

.item {
  display: block;
  margin: 5px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}